/* set up font sizes and div widths*/

#game img {
  max-width: 12.5em;
  min-width: 12.5em;
  max-height: 12.5em;
  min-height: 12.5em;
  margin: .25em;
  border-style: inset;
}

.about-img {
  height: 15em;
  width: auto;
  padding: 0em 1.2em 0em 1.3em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 18.5em;
}

.about-blurb {
  max-width: 40em;
  min-height: 20em;
}

header, main, footer {
  max-width: 56.250em;
  margin: 0 auto;
}

.logo-box {
  height: 6.5em;
}

.logo-font {
  font-size: 6em;
}

.top-nav {
  height: 3em;
  margin: 0.1em 0em 1em;
}

.top-game-nav {
  height: 3em;
  margin: 0.1em 0em;
}

.margin {
  margin: 0.4em;
}

.size-9 {
  font-size: 0.563em
}

.size-10 {
  font-size: 0.625em;
}

.size-12 {
  font-size: 0.750em;
}

.size-14 {
  font-size: 0.875em;
}

.size-16 {
  font-size: 1em;
}

.size-18 {
  font-size: 1.125em;
}

.size-20 {
  font-size: 1.250em;
}

.size-24 {
  font-size: 1.5em;
}

.size-32 {
  font-size: 2em;
}

.size-36 {
  font-size: 2.25em;
}

.size-40 {
  font-size: 2.500em;
}

.size-46 {
  font-size: 2.875em;
}

.size-48 {
  font-size: 3em;
}
