/* set up font sizes and div widths*/

#game img {
  max-width: 13.5em;
  min-width: 13.5em;
  max-height: 13.5em;
  min-height: 13.5em;
  border-style: inset;
}

.about-img {
  height: 15em;
  width: auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 18.5em;
}

header, main, footer {
  max-width: 56.250em;
  margin: 0 auto;
}

.logo-font {
  font-size: 4em;
}

.top-nav {
  height: 2em;
  margin: 5em 0em;
}

.size-9 {
  font-size: 0.563em
}

.size-10 {
  font-size: 0.625em; }

.size-12 {
  font-size: 0.750em; }

.size-14 {
  font-size: 0.875em;
  }

.size-16 {
  font-size: 1em; }

.size-18 {
  font-size: 1.125em; }

.size-20 {
  font-size: 1.250em; }

.size-24 {
  font-size: 1.5em; }

.size-32 {
  font-size: 2em; }

.size-36 {
  font-size: 2.25em; }

.size-40 {
  font-size: 2.500em; }

.size-46 {
  font-size: 2.875em; }

.size-48 {
  font-size: 3em;
}
