
.text-black {
 color: black;
}

.text-red {
  color: red;
}

.top-nav {
  border-bottom-style: groove;
}

.greet-font {
  font-family: 'Fredericka the Great', cursive;
}

a {
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
}

.logo-font {
  font-family: 'Mouse Memoirs', sans-serif;
}
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Amatic SC', cursive;*/
