* {
  border: 1px solid green;
}

.wrapper {
  max-width: 66em;
  /*max-width: 75%;*/
  min-width: 50%;
  margin: 0px auto;
}

.about-blurb {
  max-width: 40em;
  /*min-height: 20em;*/
}
.about-img {
  height: 15em;
  width: auto;
  padding: 0em 1.2em 0em 1.3em;
}
.right {
  float: right;
  display: inline-block;
}
.left {
  float: left;
  display: inline-block;
}
/*section.right img,
section.right p {
  display: inline-block;
  float: right;
}
section.left img,
section.left p {
  display: inline-block;
  float: left;
}*/
.width {
  width: inherit;
  clear: both;
}
